{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="pub-images">
  <img src="{{ MEDIA_URL }}{{ publication.thumbnail }}" class="active">
</div>
<h1>{{ publication.name}}</h1>

<p>{{ publication.author }}</p>

{% if user.is_authenticated %}
<div class="row">
	<div class="col-lg-6">
		<form class="form-inline" method="post" action="{% url 'order_update' order.id %}">
			{{ form|crispy }}
			{% csrf_token %}
			<input type="hidden" name="publication_id" value="{{ publication.id }}"/>
			<button type="submit" class="btn">Order</button>
		</form>
	</div>
</div>
<div class="row">
	{% include "publication/_publications-related.html" %}
</div>
{% endif %}
{% endblock %}